.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pads {
    display: grid;
    gap: 5px; /* Spazio tra i quadrati */
    grid-template-columns: repeat(3, 1fr); /* Usa il numero di colonne */
    grid-template-rows: repeat(3, 1fr); /* Usa il numero di righe */
}

.pads div {
    width: 100px;
    height: 100px;
    filter: saturate(100%) brightness(80%);
    transition: 0.3s ease;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pads div:hover, .pad.active{
    filter: saturate(150%) brightness(150%);
}

.pads div:nth-child(1){
    border-radius: 10px 0 0 0;
}

.pads div:nth-child(3){
    border-radius: 0 10px 0 0;
}

.pads div:nth-child(7){
    border-radius: 0 0 0 10px;
}

.pads div:nth-child(9){
    border-radius: 0 0 10px 0;
}

.pads input{
    background: none;
    text-align: center;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 12px;
}

.controls{
    position: absolute;
    color: white;
    top: 100px;
}

.controls button{
    background: none;
    padding: 10px;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.songs-list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.songs-list div{
    cursor: pointer;
}

.video-form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.video-form button{
    color: black;
    border: 1px solid black;
}