.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pads {
    display: grid;
    gap: 5px; /* Spazio tra i quadrati */
    grid-template-columns: repeat(3, 1fr); /* Usa il numero di colonne */
    grid-template-rows: repeat(3, 1fr); /* Usa il numero di righe */
}

.pads div {
    width: 100px;
    height: 100px;
    filter: saturate(50%) brightness(80%);
    transition: 0.3s ease;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pads div:hover, .pad.active{
    filter: saturate(100%);
}

.pads input{
    background: none;
    text-align: center;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 12px;
}

.controls{
    position: absolute;
    color: white;
    top: 100px;
}